html {
    height: 100%;
}

body {
    height: 100%;
    background-color: navy;
    
}
a {
    text-decoration: none;
    color: #ffc34d;
    font-family: 'Niramit', sans-serif;
}
h1 {
    display: flex;
    color: #ff8000;
    justify-content: center;
    font-family: 'Niramit', sans-serif;
}
h2 {
    color: #80bfff;
    text-align: center;
    font-family: 'Niramit', sans-serif;
}
li {
    color: gold;
    font-family: 'Niramit', sans-serif;
}
.main {
    height: 100%;
}
.social-image {
    width: 30px;
    margin: 15px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 10px auto;
}
.aboutMain {
    display: flex;
    width: auto;
}
.social {
    display: flex;
    justify-content: center;
}
.leftPane {
    width: 50%;
    margin: 10px 35px;
}
.rightPane {
    width: 50%;
    background-image: url("https://res.cloudinary.com/sagacity/image/upload/c_crop,h_1198,w_2002,x_0,y_0/c_limit,f_auto,fl_lossy,q_80,w_1080/michael_rodriguez_houston_flag_shzcsq.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}
.main {
    background-image: url("https://cdn.explara.com/houston-texas20180501172017.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thumbnail-image {
    width: 500px;
    height: 300px;
    border: 3px dashed gold;
    padding: 3px;
    margin: 30px 7px;
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}