html {
    height: 100%;
}

body {
    height: 100%;
    background-color: navy;
    
}
a {
    text-decoration: none;
    color: gold;
}
h1 {
    display: flex;
    color: orange;
    justify-content: center;
}
.main {
    height: 100%;
}
.social-image {
    width: 30px;
    margin: 15px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 10px auto;
}
.aboutMain {
    display: flex;
    width: auto;
}
.leftPane {
    width: 35%;
}
.rightPane {
    width: 65%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Flag_of_Houston%2C_Texas.svg/1280px-Flag_of_Houston%2C_Texas.svg.png");
    height: 500px;
    background-size: contain;
    background-position: center;
    margin: 5px;
    border: 5px solid gold;
    
}
.main {
    background-image: url("https://cdn.explara.com/houston-texas20180501172017.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}